=content_for :head do
  - unless current_user
    %header
      .container
        .title-wrapper
          %h1.title Be creative like a child
          = link_to "ENTER", new_user_registration_path, class: "btn btn-success btn-lg call-to-action"