%h2 List of courses
%table.table.table-hover
  %thead 
    %th 
      %tr 
        %td Title
        %td Author
        %td Lessons
        %td Progress
        %td Status
  %tbody 
    = render partial: "course", collection: @courses